<!DOCTYPE html>
    <html>
       <head>
          <meta charset="UTF-8">
          <title>Armazém do seu Zé</title>
          <link rel="stylesheet" href="../static/estilo.css">
       </head>
<body>
          <h1>Armazém</h1>
          </div>
          <div class= "exemplo">
          <h2> BEM-VINDO! </h2>
          <p>Lojinha do seu Zé</p>
          </div>

          <div class="pai">
             <div class="turma">
               <a> Sistema de organização e verificação do estoque do Armazém do seu Zé, cadastre-se e faça login para adicionar, remover e atualizar o estoque com os produtos.</a>
               <br><br>

          <div class="novousuario">
              <div>
                  <form action="/inserirusuario" method="post">
                    <a><b>Cadastrar novo usuário</b></a>
                    <hr>

                    <label>Nome:</label> <br>
                    <input type="text" name="nome" required>
                    <br>
                    <label>Login:</label> <br>
                    <input type="text" name="login" required>
                    <br>
                    <label>Senha:</label> <br>
                    <input type="password" id="senha1" name="senha1">
                    <br>
                    <label>Repetir senha</label> <br>
                    <input type="password" id="senha2" name="senha2">
                    <br><br>
                    <button onclick="ir()" type="submit"> Cadastrar </button>
                    <p id="mensagem">{{mensagem}} </p>

                    <br>
                </form>
              </div>
              <div class="login">
                  <form action="/login" method="post">
                        <a><b>Fazer Login Usuario</b></a>
                        <hr>
                        <label>Digite o login</label> <br>
                        <input type="text" name="login">
                        <br>
                        <label>Digite a Senha</label> <br>
                        <input type="password" name="senha">
                        <br><br>
                        <button type="submit">Enviar</button>

                  </form>
                  <p>{{msglogin}} </p>
              </div>
          </div>
          </div>

          <div class="footer">
                <a>Para relatar bugs ou erros entrem em contato com a equipe desenvolvedora do sistema, ligue para 4002-8922.</a>
          </div>
        <script src="../static/script.js"> </script>

</body>
</html>