<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/estilo.css">

</head>
<body id="body">
    <div id="tit">
        <h1 class="textanimado">Armazém do seu zé</h1>
    </div>
    <div class="tab">
    <h2>Ferramentas do usuário</h2>
    </div>
    <div class="tab2">
        <h3>Casdastrar novos produtos:</h3>
        <button class="botao"><a href="/exibirpaginacadastro">Ir para cadastro</a></button> <br> <br>

        <h3>Atualizar Estoque:</h3>
        <button class="botao">ir para atualização</button> <br> <br>

        <h3>Remover Produtos:</h3>
        <button class="botao">ir para remover</button>
    </div>



        <!--<div id="borda"></div>-->







</body>
</html>